.bg-img {
    background-image: url(../../../Image/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.bg-img h1{
    font-size: 98px;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(12, 12, 12, .6);
    position: absolute;

}