nav {
    background: transparent;
}

.logo-img {
    height: 80px;
}

.nav-link {
    color: #ffffff !important;
}

.login-btn {
    background: #F9A51A;
    border-radius: 5px;
    padding: 15px 25px;
    color: #000;
}