form {
    background-color: #fff;
    padding: 20px;
}

.form-control {
    background-color: #f2f2f2 !important;
}

.booking-btn {
    background: #F9A51A;
    border-radius: 5px;
    border: none;
    color: #000 !important;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}