
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: 'Bebas Neue', cursive;
}

h1, h2, h3{
  font-family: 'Bebas Neue', cursive !important;
}
p, a{
  font-size: 16px;
}